<section class="navbar">
  <div class="logo">this is the logo</div>

  <div class="details">
    <div class="cos"> <%= t(:cos) %> </div>
    <div class="workshop"> <%= t(:workshop) %></div>
    <div class="about"> <%= t(:about) %></div>
    <div class="contact"> <%= t(:contact) %> </div>
    <div class="shop"> <%= t(:shop) %></div>
    <div class="menu"> <%= t(:menu) %> </div>
  </div>
</section>
