<div data-controller="navbar">
  <div class="navbar" data-navbar-target="navbar">
    <%= link_to root_path do %>
      <div class="logo"></div>
    <% end %>

    <div class="small-frame hidden" data-navbar-target="icon" data-action="click->navbar#toggleSidebar">
      <i class="fa-solid fa-bars-staggered icon"></i>
    </div>

    <div class="details" data-navbar-target="details">
      <% unless user_signed_in? %>
        <div class="menu">
          <%= link_to 'LOG IN', new_user_session_path, class: "link" %>
        </div>
      <% end %>

      <% if user_signed_in? %>
        <div class="dropdown" data-navbar-target="dropdown">
          <button id="dropdown-btn" class="dropdown-btn"  aria-haspopup="true" aria-expanded="false" data-action="click->navbar#toggleDropdown">
            <div class="link">
              <%= t(:account) %>
            </div>
          </button>
          <div id="dropdown" class="dropdown-menu"  role="menu" data-navbar-target="dropdownMenu">
            <div class="dropdown-header">
              <span>My Account</span>
            </div>
            <div class="dropdown-section">
              <%= link_to t(:profile), user_path(current_user), class: "dropdown-item" %>
              <% if current_user.admin? %>
                <%= link_to "ADMIN", admin_users_path(current_user), class: "dropdown-item" %>
              <% end %>
              <button class="dropdown-item">DASHBOARD</button>
              <button class="dropdown-item">SETTINGS</button>
            </div>
            <div class="dropdown-section">
              <%= link_to "LOG OUT", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item", style: "text-decoration: none;" %>
            </div>
          </div>
        </div>

        <%# <script>
          document.addEventListener("DOMContentLoaded", function() {
              var dropdown = document.getElementById("dropdown");
              var dropdownBtn = document.getElementById("dropdown-btn");

              // Function to show the dropdown
              function showDropdown() {
                  dropdown.classList.add("show");
                  dropdown.classList.remove("hide");
              }

               // Ensure dropdown is hidden initially
              hideDropdown(); // This hides the dropdown on page load

              // Function to hide the dropdown
              function hideDropdown() {
                  dropdown.classList.add("hide");
                  dropdown.classList.remove("show");
              }

              // Toggle the dropdown visibility on button click
              dropdownBtn.addEventListener("click", function(event) {
                  event.stopPropagation(); // Prevent click event from bubbling
                  if (dropdown.classList.contains("show")) {
                      hideDropdown();
                  } else {
                      showDropdown();
                  }
              });

              // Hide the dropdown if clicking outside of it
              document.addEventListener("click", function(event) {
                  if (dropdown.classList.contains("show") && !dropdown.contains(event.target) && event.target !== dropdownBtn) {
                      hideDropdown();
                  }
              });
          });


        </script> %>

      <% end %>

      <div class="lang"><%= link_to "EN", switch_language_path, class: "link" %></div>
      <div class="lang"><%= link_to "RO", switch_language_path, class: "link" %></div>
      <div class="cos"><%= t(:cos) %></div>
      <div class="workshop"><%= link_to t(:workshop), workshop_path, class: "link" %></div>
      <div class="about"><%= link_to t(:about), about_path, class: "link" %></div>
      <div class="shop"><%= link_to t(:shop), shop_products_path, class: "link" %></div>
      <div class="menu"><%= link_to t(:menu), menu_products_path, class: "link" %></div>
    </div>
  </div>

  <div class="sidebar hidden" data-navbar-target="sidebar">
    <div class="sidebar-content">
      <div class="close-icon" data-action="click->navbar#closeSidebar">×</div>
      <div class="details">
        <div class="lang"><%= link_to "EN", switch_language_path, class: "link" %></div>
        <div class="lang"><%= link_to "RO", switch_language_path, class: "link" %></div>

        <% unless user_signed_in? %>
          <div class="menu">
            <%= link_to 'LOG IN', new_user_session_path, class: "link" %>
          </div>
        <% end %>


        <% if user_signed_in? %>
          <div class="menu">
            <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, class: "link" %>
          </div>
        <% end %>

        <div class="cos"><%= t(:cos) %></div>
        <div class="workshop"><%= link_to t(:workshop), workshop_path, class: "link" %></div>
        <div class="about"><%= link_to t(:about), about_path, class: "link" %></div>
        <div class="contact"><%= link_to t(:contact), contact_path, class: "link" %></div>
        <div class="shop"><%= t(:shop) %></div>
        <div class="menu"><%= t(:menu) %></div>
      </div>
    </div>
  </div>
</div>
