<div class="navbar" data-controller="navbar" data-navbar-target="navbar">
  <div class="logo">logo</div>


  <div class="small-frame hidden" data-navbar-target="icon"><i class="fa-solid fa-bars-staggered"></i></div>
  <div class="details" data-navbar-target="details">
    <div class="cos"> <%= t(:cos) %> </div>
    <div class="workshop"> <%= t(:workshop) %></div>
    <div class="about"> <%= t(:about) %></div>
    <div class="contact"> <%= t(:contact) %> </div>
    <div class="shop"> <%= t(:shop) %></div>
    <div class="menu"> <%= t(:menu) %> </div>
  </div>
</div>
