<%= render "components/hero_home" %>

<div class="feature">

  <div class="f1">
    <div>
      <%= t(:feature_1,
            way_behind: content_tag(:span, t('placeholders.way_behind'), class: "thin-font")).html_safe %>
      </div>
  </div>

  <div class="f2">
    <%= image_tag 'feature.svg', alt: 'aesthetic line' %>
  </div>

  <div class="f3">
    <div class="um">
    <%= t(:feature_2,
          not_just_taste: content_tag(:span, t('placeholders.not_just_taste'), class: "not-just-taste")).html_safe %>
    </div>
  </div>

</div>

<div class="cards">

  <div class="card">

    <div class="photo-card">
      <%= image_tag 'card1.JPG', alt: 'card1' %>
    </div>
    <div class="name"><%= t(:sweets) %></div>
  </div>

  <div class="card">
    <div class="photo-card">
      <%= image_tag 'card1.JPG', alt: 'card1' %>
    </div>
    <div class="name"><%= t(:breads) %></div>
  </div>

  <div class="card">
    <div class="photo-card">
      <%= image_tag 'card1.JPG', alt: 'card1' %>
    </div>
    <div class="name"><%= t(:pastries) %></div>
  </div>

</div>

<div class="info">

  <div class="info-content">
    <div class="title-info-comp"><%= t(:when) %></div>
    <div class="info-comp"><%= t(:location).html_safe  %></div>
    <div class="info-comp">example@example.com</div>
    <div class="info-comp">+0712345678</div>
    <div class="info-comp"><a href="https://www.instagram.com/holybakerybucharest/" class="link" style="color: var(--blue);">instagram</a></div>
  </div>

  <div class="info-svg">
    <%= image_tag 'info.svg', alt: "aethetic line" %>
  </div>

  <div class="info-content">
    <div class="title-info-comp"><%= t(:where) %></div>
    <div class="info-comp hours"><div>MONDAY - FRIDAY 9-18</div><div>SATURDAY 10-15</div><div>SUNDAY CLOSED</div></div>
    <div class="info-comp">*THIS HOLIDAY MAY EFFECT THESE HOURS</div>
  </div>

</div>

<div class="order">

  <div class="order-text">
    <div class="order-first">
      <%= t(:order_1,
            joy: content_tag(:span, t('placeholders.joy'), class: "joy")).html_safe %>
    </div>
    <div class="order-second">
      <%= t(:order_2,
            our_products: content_tag(:span, link_to(t('placeholders.our_products'), about_path)),
            contact_us: content_tag(:span, link_to(t('placeholders.contact_us'), about_path))).html_safe %>
    </div>
    <div class="order-buttons">
      <%= link_to t('placeholders.our_products').upcase, about_path, class: "link" %>
      <%= link_to t('placeholders.contact_us').upcase, about_path, class: "link" %>
    </div>
  </div>

  <div class="footer-details">
    <div class="f-comp">
      <div class="f-comp-title">
        <%= t(:contact) %>
      </div>
      <a href="https://www.instagram.com/holybakerybucharest/" class="link">INSTAGRAM</a>
      <a href="https://www.facebook.com/HolyBakeryBucharest" class="link">FACEBOOK</a>
    </div>
    <div class="f-comp">
      <div class="f-comp-title">
        <%= t(:get_in_touch) %>
      </div>
      +1234567890
      example@example.com
    </div>
    <div class="f-comp">
      <div class="f-comp-title">
        <%= t(:real_shop) %>
      </div>
        <%= link_to t(:shop), about_path, class: "link" %>
        <%= link_to t(:menu), about_path, class: "link" %>
    </div>
    <div class="f-comp">
      <div class="f-comp-title">HOLY BAKERY</div>
        <%= link_to t(:about), about_path, class: "link" %>
        <%= link_to t(:terms), about_path, class: "link" %>
        <%= link_to t(:privacy), about_path, class: "link" %>
    </div>
    <div class="f-comp">emailll</div>
  </div>

</div>
