<div class="products-hero" style="background-image: url(<%= image_path( 'cart.JPG' ) %>); background-position: top;">
  <div class="products-content">
    <div class="hero-products-text">
      <%= t(:cart).upcase %>
    </div>
  </div>
</div>


<div class="products-container" style="min-height: 40vh;">

  <% @cart.cart_items.each do |item| %>
    <p><%= item.product.name %> - <%= item.quantity %> x <%= item.product.price %></p>
  <%= form_with(url: remove_item_user_cart_path(item), method: :delete, local: true, html: { onsubmit: "return confirm('Are you sure you want to delete this item?');" }) do %>
    <%= submit_tag 'Remove', class: 'button', style: "font-size: 1rem;" %>
  <% end %>


    <%= form_with url: update_quantity_user_cart_path(item), method: :patch do %>
      <%= number_field_tag :quantity, item.quantity %>
      <%= submit_tag 'Update' %>
    <% end %>
  <% end %>
  <p>Total: <%= @cart.total_price %></p>
<%#= link_to 'Checkout', new_order_path %>


</div>


<div class="products-footer" style="background-image: url(<%= image_path( 'cart.JPG' ) %>); background-position: top;"F>
  <%= render 'components/footer' %>
</div>
