<div class="products-hero">
  <div class="products-content">
    <div class="hero-products-text">
      <%= t(:products_hero, treat: content_tag(:span, t("placeholders.treat"), class: 'treat')).upcase.html_safe %>
    </div>

    <div class="hero-products-sub">
      <%= t(:products_sub) %>
    </div>
  </div>
</div>

<div class="" data-controller="category-filter" data-category-filter-page-type="<%= @page_type == 'shop' ? 'shop' : 'menu' %>">

  <div class="filter">
    <div href="" class="category-option" data-category="ALL"><%= t(:all) %></div>
    <div href="" class="category-option" data-category="BREADS"><%= t(:breads) %></div>
    <div href="" class="category-option" data-category="SWEETS"><%= t(:sweets) %></div>
    <div href="" class="category-option" data-category="PASTRIES"><%= t(:pastries) %></div>
    <div href="" class="category-option" data-category="COOKIES"><%= t(:cookies).upcase %></div>
  </div>

  <div id="products-container" data-category-filter-target="productsContainer">
    <%= render partial: 'products_list', locals: { products: @products } %>
  </div>

</div>

<div class="products-footer">
  <%= render 'components/footer' %>
</div>
