<div class="hero-show-product" data-controller="carousel" data-carousel-speed="fast" data-carousel-direction="left">
  <div class="carousel-inner">
    <% @product.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class: "hero-image", data: { carousel_target: "image" } %>
    <% end %>
    <% @product.photos.each do |photo| %> <!-- Duplicate for continuous effect -->
      <%= cl_image_tag photo.key, class: "hero-image", data: { carousel_target: "image" } %>
    <% end %>
  </div>
</div>




<div class="product-show-container">

  <div class="first-header">

    <div class="name-price">
      <div class="name-product">
        <%= @name.upcase %>
      </div>

      <div class="price">
        <%= @product.price %>RON
      </div>
    </div>

<div class="product" data-controller="quantity-selector" data-product-id="<%= @product.id %>">
  <div class="quantity-selector">
    <button data-action="click->quantity-selector#decrease" id="decrease-quantity">-</button>
    <input type="number" data-quantity-selector-target="quantityInput" value="1" min="1" id="quantity-input" style="width: 50px;">
    <button data-action="click->quantity-selector#increase" id="increase-quantity">+</button>
  </div>
  <button data-action="click->quantity-selector#addToCart" id="add-to-cart" class="button"><%= t(:add_to_cart) %></button>

<div data-quantity-selector-target="sidebar" class="sidebar-2" style="display:none;">
  <%# <button data-action="click->sidebar#close" class="sidebar-close-button">×</button> %>
  <div class="sidebar-close-button" data-action="click->sidebar#closeSidebar">×</div>
  <!-- Sidebar content will be dynamically inserted here -->
      <%= render 'sidebar' %>
</div>
<p data-quantity-selector-target="cartCount" style="display: none;">0</p>
</div>





  </div>

  <div class="product-show-details">
    <div class="details-1"><%= t(:details) %></div>

    <div class="details-2">

      <div class="ingredients">
        <div class="ingredients-title"><%= t(:ingredients) %></div>
        <div class="ingredients-list">
          <%= @ingredients %>
        </div>
      </div>

      <div class="ingredients">
        <div class="ingredients-title"><%= t(:allergens) %></div>
        <div class="ingredients-list">
          <%= @allergens %>
        </div>
      </div>

      <div class="ingredients">
        <div class="ingredients-title"><%= t(:serving) %></div>
        <div class="ingredients-list">
          <%= @serving %>
          <%= @storage %>
        </div>
      </div>

    </div>

  </div>

</div>









<div class="products-footer" style="background-image: url(<%= cl_image_path(@product.photos.second.key) %>)">
  <%= render 'components/footer' %>
</div>

<%= link_to 'Edit', edit_product_path(@product), class: 'edit-link' %>

<%#= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: 'Are you sure you want to delete this product?' }, class: 'delete-link' %>

  <%= form_with(model: @product, method: :delete, local: true) do |form| %>
    <%= form.submit 'DELETE', class: 'button' %>
  <% end %>
