
<div class="hero-show-product slider" data-controller="carousel">
  <div class="slide-track">
    <% @product.photos.each do |photo| %>
      <div class="slide">
        <%= cl_image_tag photo.key, class: "hero-image", data: { carousel_target: "image" } %>
      </div>
    <% end %>
  </div>
</div>

<div class="product-show-container">
  <div class="first-header">

    <div class="name">
      <%= @name.upcase %>
    </div>

    <div class="price">
      <%= @product.price %>
    </div>

    <div class="product" data-controller="quantity-selector">
      <h2>Product Name</h2>
      <p>Price: $10.00</p>

      <div class="quantity-selector">
        <button data-action="click->quantity-selector#decrease" id="decrease-quantity">-</button>
        <input type="number" data-quantity-selector-target="quantityInput" value="1" min="1" id="quantity-input">
        <button data-action="click->quantity-selector#increase" id="increase-quantity">+</button>
      </div>

      <button data-action="click->quantity-selector#addToCart" id="add-to-cart" class="button" ><%= t(:add_to_cart) %></button>

      <p>Items in Cart: <span data-quantity-selector-target="cartCount">0</span></p>
    </div>


  </div>

</div>

<div class="products-footer" style="background-image: url(<%= cl_image_path(@product.photos.second.key) %>)">
  <%= render 'components/footer' %>
</div>

<%= link_to 'Edit', edit_product_path(@product), class: 'edit-link' %>

<%#= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: 'Are you sure you want to delete this product?' }, class: 'delete-link' %>

  <%= form_with(model: @product, method: :delete, local: true) do |form| %>
    <%= form.submit 'DELETE', class: 'button' %>
  <% end %>
