<!DOCTYPE html>
<html>
  <head>
    <title>FinalHoly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&italic=true&display=swap">
    <script src="https://kit.fontawesome.com/ae7884d89d.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>


    <%= render "components/navbar" %>


    <% if notice || alert %>
      <div class="flash">
        <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= notice %>
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>

    <%= render 'layouts/cart_count' %>
    <%#= link_to I18n.t('switch_language'), switch_language_path %>
  </body>
</html>
